# Framework principal
fastapi==0.109.2
uvicorn[standard]==0.29.0
python-dotenv==1.0.1
pydantic==2.7.1
pydantic-settings==2.2.1

# Base de datos
sqlalchemy==2.0.30
asyncpg==0.29.0
aiosqlite==0.20.0
alembic==1.13.1

# WebSockets
websockets==12.0

# IA / Vision
mediapipe==0.10.14
opencv-python-headless==4.9.0.80
numpy==1.26.4

# TensorFlow
tensorflow-cpu==2.17.0
h5py>=3.10.0

# NLP
spacy==3.7.4

# Utilidades
Pillow==10.3.0
python-multipart==0.0.9

# Testing
pytest==8.2.0
httpx==0.27.0